/* Hero image */

body {
    background-color: #2d3436;
}

#hero-image {
    height: 100%;
    width: 100%;
    max-height: 800px;
}

#featured-popular {
    width: 100%;
}

#overview {
    height: 100%;
    background-color: #2c3e50;
    max-height: 800px;
}

#reviews {
    height: auto;
    background-color: #ecf0f1;
}


/*img size - movie view*/

.image img {
    height: 340px;
    width: 260px;
}

.logo-company {
    height: 80px;
    width: 200px;
}

.banner {
    height: 500px;
}

.banner-img-h img {
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}


/* banner wl */

#wl-banner {
    height: 260px;
    background-color: #ecf0f1;
}


/* img size - wl*/

.img-wl img {
    height: 80px;
    width: 80px;
}


/* footer stuff */

.footer-main {
    background-color: #2c3e50;
}

.copy-right {
    height: 40px;
    background-color: #34495e;
}


/* hover image*/

.hover-img {
    height: 400px;
    overflow: hidden;
}

.hover-img img {
    transition: transform .5s ease;
}

.hover-img:hover img {
    transform: scale(1.2);
    filter: grayscale(80%);
}


/* card stuff*/

.no-border {
    border: none !important;
    aborder-radius: 0 !important;
}

#cat-fas {
    width: 80px;
    height: 80px;
}

.carousel .carousel-item {
    height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}