/* Hero image */

body {
    background-color: #222f3e;
    font-family: 'Open Sans', sans-serif;
}

#hero-image {
    height: 100%;
    width: 100%;
    max-height: 800px;
    background-image: linear-gradient(to right, rgba(5.10%, 5.88%, 7.84%, 1.00) 150px, rgba(5.10%, 5.88%, 7.84%, 0.84) 100%);
}

.h-img img {
    background-image: linear-gradient(to right, rgba(5.10%, 5.88%, 7.84%, 1.00) 150px, rgba(5.10%, 5.88%, 7.84%, 0.84) 100%);
}

#featured-popular {
    width: 100%;
}

#overview {
    height: 800px;
    background-color: #2c3e50;
    max-height: max-content;
}

#reviews {
    height: auto;
    background-color: #ecf0f1;
}


/*img size - movie view*/

.image img {
    height: 450px;
    width: 300px;
    position: relative;
}

.logo-company {
    height: 80px;
    width: 200px;
}

.banner {
    height: 500px;
    z-index: -1;
}

.banner-img-h img {
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
    z-index: -1;
}


/* banner wl */

#wl-banner {
    height: 260px;
    background-color: #ecf0f1;
}


/* img size - wl*/

.img-wl img {
    height: 80px;
    width: 80px;
}


/* footer stuff */

.footer-main {
    background-color: #2c3e50;
}

.copy-right {
    height: 40px;
    background-color: #34495e;
}


/* hover image*/

.hover-img {
    height: 100%;
    overflow: hidden;
    max-height: 400px;
}

.hover-img img {
    transition: transform .5s ease;
}

.hover-img:hover img {
    transform: scale(1.2);
    filter: grayscale(80%);
}


/* card stuff*/

.no-border {
    border: none !important;
}

#cat-fas {
    width: 80px;
    height: 80px;
}

.carousel .carousel-item {
    height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}